.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-input {
  border-radius: 10px;
  outline: none;
  border: 1px solid #0c0c0c;
  padding: 5px 15px;
  margin: 5px 10px;
  min-width: 250px;
  max-width: 250px;
}

.search-input:focus-within {
  border: 1px solid rgba(36, 126, 207, 0.6);
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.search-button {
  background-color: rgba(36, 126, 207, 1);
  color: #fff;
  outline: none;
  border-radius: 5px;
  border: 0px;
  padding: 5px 10px;
}

.search-button:hover {
  background-color: rgba(36, 126, 207, 0.6);
  color: #fff;
  outline: none;
  border-radius: 5px;
  border: 0px;
  padding: 5px 10px;
}

.search-button:disabled {
  cursor: not-allowed;
  background-color: rgba(36, 126, 207, 0.3);
}
.m-10 {
  margin: 10px;
}
.card-cantainer {
  flex-wrap: wrap;
  justify-content: center;
}
.book-item-card {
  border: 1px solid #cecece;
  border-radius: 5px;
  margin: 5px;
  padding: 10px 15px;
  min-width: 20%;
  max-width: 20%;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}
.text-semibold {
  font-weight: 400;
}

.single-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-row {
  flex-direction: row;
}
.cover-image {
  object-fit: contain;
  max-height: 300px;
  margin: 5px 0px;
}
.border-gray {
  border: 1px solid gray;
}
